<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="keyword" content="" />
        <link rel="shortcut icon" href="" />
        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        {% block extra_css %}
        {% endblock %}
    </head>

    <body>
        {% block content %}{% endblock %}

        <footer class="foot">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="foot-logo"><a href=""> <img src="{% static 'img/logo-icon.png' %}" width="100"></a></div>
                        <div class="foot-cont">
                            <p><span><i class="fa fa-map-marker" aria-hidden="true"></i>
                            </span>853 Schilling Farm Cir Collierville, Tn. 38017</p>
                            <p><span><i class="fa fa-envelope" aria-hidden="true"></i>
                            </span>info@localmingle.net</p>
                            <p><span><i class="fa fa-phone" aria-hidden="true"></i>
                            </span>800-123-4567</p>
                        </div>
                        <div class="social">
                            <ul>
                                <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 quickliknk">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="/privacy">Privacy</a></li>
                            <li><a href="/termof">Term</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 foot-event">
                        <h3>Blog & Events</h3>
                        <ul>
                            <li><a href="">The Secret to Successful Attendee</a></li>
                            <li><a href="">Responsible Revenue Investment for future</a></li>
                            <li><a href="">Event Tech Innocation Summit 2021</a></li>
                            <li><a href="">Grow your business by getting access to..</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 foot-app">
                        <ul>
                            <li><a href=""><i class="fa fa-apple" aria-hidden="true"></i>
                                App Store <span>Available now on the</span></a></li>
                            <li><a href="https://play.google.com/store/apps/details?id=com.local_mingle"><i class="fa fa-play" aria-hidden="true"></i>
                                Google Play <span>Get it on</span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="row pt-5 copy">
                    <div class="col">
                        <h6>Local Mingle © 2021. All Rights Reserved.</h6>
                    </div>
                </div>
            </div>
        </footer>
        {# Global javascript #}
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/owl.carousel.js' %}"></script>
        <script src="{% static 'js/aos.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript">
            $('.menu').before('<div class="ham"></div>');
            $('.ham').append('<div class="buttonline"></div>');
            $('.ham').append('<div class="buttonline"></div>');
            $('.ham').append('<div class="buttonline"></div>');

            // add click listener
            $('.ham').click(function(event)
            {
              $('.menu').animate({height:'toggle'},200);
            });
        </script>
        <script>
            $(document).ready(function() {
              $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                  0: {
                    items: 1,
                    autoplay:true,
                    loop: true,
                    nav: true
                  },
                  600: {
                    items: 2,
                    nav: false
                  },
                  1000: {
                    items: 5,
                    nav: true,
                    autoplay:true,
                    loop: true,
                    margin: 20
                  }
                }
              })
            })
          </script>
    </body>
    <script>
      AOS.init();
    </script>
    <script type="text/javascript">
        AOS.init({disable: 'mobile'});
    </script>
    <script type="text/javascript">
      jQuery(document).ready(function() {
      $(window).scroll(function() {
        var sticky = $('#header'),
          scroll = $(window).scrollTop();
        if (scroll > 50) sticky.addClass('fixed');
        else sticky.removeClass('fixed');
      });
    });
    </script>
    <script type="text/javascript">
        if ($('#back-to-top').length) {
        var scrollTrigger = 100, // px
            backToTop = function () {
                var scrollTop = $(window).scrollTop();
                if (scrollTop > scrollTrigger) {
                    $('#back-to-top').addClass('show');
                } else {
                    $('#back-to-top').removeClass('show');
                }
            };
        backToTop();
        $(window).on('scroll', function () {
            backToTop();
        });
        $('#back-to-top').on('click', function (e) {
            e.preventDefault();
            $('html,body').animate({
                scrollTop: 0
            }, 100);
        });
    }
    </script>
    <script type="text/javascript">
          $('#logo').hover(function() {
        $(this).rotate({ count:4, duration:0.9, easing:'ease-out' });
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function() {

        var id = '#dialog';

        //Get the screen height and width
        var maskHeight = $(document).height();
        var maskWidth = $(window).width();

        //Set heigth and width to mask to fill up the whole screen
        $('#mask').css({'width':maskWidth,'height':maskHeight});

        //transition effect
        $('#mask').fadeIn(500);
        $('#mask').fadeTo("slow",0.9);

        //Get the window height and width
        var winH = $(window).height();
        var winW = $(window).width();

        //Set the popup window to center
        $(id).css('top',  winH/2-$(id).height()/2);
        $(id).css('left', winW/2-$(id).width()/2);

        //transition effect
        $(id).fadeIn(2000);

      //if close button is clicked
      $('.window .close').click(function (e) {
        //Cancel the link behavior
        e.preventDefault();

        $('#mask').hide();
        $('.window').hide();
      });

      //if mask is clicked
      $('#mask').click(function () {
        $(this).hide();
        $('.window').hide();
      });

    });
    </script>
    {% block extra_js %}
    {% endblock %}
</html>