@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}
html, body, html * {
  font-family: 'Roboto', sans-serif;
}



.login {font-size: 12px; font-weight: 100;}
.fixed#header .login  { text-align: right; }
.fixed#header .login  ul{ text-align: right; }
.head-top { padding: 8px 0;}

.h { position: relative; }
.ham { width: 50px !important;
    height: 50px !important;
    display: none; 
    text-align: right; 
    position: absolute; 
    right: 0; 
    margin-left:10px;
    margin-top: 20px;
    cursor: pointer;}
.head-menu {background-color: #ffffff00; padding: 20px 0;}
.head-menu .menu ul{list-style:none; margin:25px 0 0 0; padding: 0;
 text-align: right;}
.head-menu .menu ul li{display:inline-block; padding: 0 10px;}
.head-top  {font-weight: 600;}
.head-top ul { margin: 0; padding:0; text-align: left; }
.head-top ul li{ color: #c1e277; display: inline-block; padding-right: 15px; cursor: pointer; 
  text-transform: uppercase; text-align: left;}
.head-menu .menu ul li a{color: #ffffff; font-size: 12px; font-weight: 600; padding: 10px 15px; 
  text-transform: uppercase; text-decoration: none;letter-spacing: 2px; }
.head-menu .menu ul li a:hover {color: #0e98cd; padding: 10px 15px;  border-radius: 50px;
 transition: 1s ease-in; }
.head-menu .menu ul li a.active {color:#32bff5; padding: 10px 15px; 
 border-radius: 50px; transition: 1s ease-in; }


.head-menu-two {background: #092746;}

#header {position: absolute; z-index: 100; width: 100%; padding: 10px 10px;}
.fixed#header{
  width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    line-height: 20px;
    border-bottom: 1px solid #0e98cd;
    /* box-shadow: 0px 1px 5px #999; */
    transition: all 0.7s ease 0s;
    -webkit-transition: all 0.7s ease 0s;
    z-index: 125;
}
.fixed#header .logo img{ width: 70px; }
.fixed#header a{    color: #004083; font-size:13px;}
.fixed#header .head-menu .menu ul{ margin-top: 25px; }


.scroll { display: none; }
.fixed#header .scroll{display: block;}
.fixed#header .head-log{display: none;}


.logo  img{ width: 100px; }
.logo span {color: #c1e277;}
.mob { display: none; }
/*.carousel-indicators { display: none; }*/
.carousel-indicators li {background: #fff; cursor: pointer;}
.carousel-indicators .active {
    background-color: #0e98cd;
}
.carousel-control-prev { display: none; }
.carousel-control-next { display: none; }
.site-slider .carousel-caption {
    top: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    margin-top: 10%;
    text-align: left;        
}

.site-slider .carousel-caption h1 { 
    font-size: 55px;
 font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight:500; 
  text-align: center;}
.site-slider .carousel-caption h1 span
 {  color: #fff; display: block; font-size: 18px; font-weight: 400; 
  padding-top: 15px; padding-left: 50px; padding-right: 50px; }
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.site-slider .carousel-captionp p{ color: white !important }



.event-plan { padding: 100px 0; }
.event-plan h2{
  font-family: 'Roboto', sans-serif;
font-size: 32px;
text-align: center;
font-weight: 500; 
color: #333;}

.event-plan p  {font-size: 14px; padding: 0 50px; color: #464646; text-align: center;}
.event-plan .event-p-in {border:1px solid #e2e2e2; border-radius: 8px;
 padding: 50px 0; text-align: center; cursor:pointer;}
.event-plan .event-p-in .fa { color: #e1380d; font-size: 40px; padding-bottom: 40px;}
.event-plan .event-p-in h3 {font-size: 20px; color: #333;}
.event-plan .col-md-4 { padding-bottom: 20px; }

.event-plan .event-p-in:hover { background:#e1380d; transition: 2s;  } 

.event-plan .event-p-in:hover .fa{ color: #fff; }
.event-plan .event-p-in:hover h3{ color: #fff; }



.about-local {   
    background: #191818 url(../img/app-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 100px 0 100px 0;
    position: relative; }


.download-app { background: #fbfbfb; padding: 70px 0; }

.download-app h2{
  font-family: 'Roboto', sans-serif;
font-size: 32px;
text-align: center;
font-weight: 500; 
color: #333;}

.download-app img { width: 80%; }
.download-app .app-tit {font-size: 50px; line-height: 65px; 
  font-weight: 700; color: #00315a; padding-top: 50px;}
.download-app .app-store p{ padding-top: 20px; }

.download-app .app-store ul {list-style: none; padding: 50px 0 0 0; margin: 0;}

.download-app .app-store  ul li {border:1px solid #e0e0e0;  box-shadow: #ababab5c 1px 2px 7px 0px;  display: inline-block;
    width: 200px; height: 55px;   font-size: 12px; border-radius: 50px;  
    margin-right: 10px;   line-height:55px;    position: relative;     cursor: pointer;    transition: 0.4s ease-in; padding-left: 20px; }

.download-app .app-store  ul li:hover {box-shadow: #0b2f6d12 1px 2px 7px 7px;}

.download-app .app-store  ul li  a{ color: #333; font-size: 16px; font-weight: 500; text-decoration:none;  }

.download-app .app-store  ul li a img { width: 20px; margin-right: 20px; vertical-align: middle; }



.app-screen {     
    background: #191818 url(../img/app-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding: 100px 0 100px 0;
    position: relative; }

.app-screen h2 { color: #fff; text-align: center; }




.app-screen .item img {border:1px solid #fff; border-radius: 10px;}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span 
{ background: #0e98cd; }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:focus {outline: none;}


.news-article {background: #fbfbfb; padding: 100px 0;}
.news-article h2 { color: #333; text-align: center; }

.article-in {border-radius: 8px; background: #fff;     box-shadow: #ababab5c 1px 2px 7px 0px;}

.article-in img {border-radius: 8px 8px 0 0; width: 100%;}
.article-in .arti-text { padding: 0px 15px 20px 15px; }
.article-in .arti-text h3 {color: #333; font-size: 20px; font-weight: 600; padding-top: 20px; }
.article-in .arti-text p { color: #333; font-size: 15px; padding-top: 10px; } 
.article-in .arti-text a{ color: #00315a; font-size: 12px; text-align:right;}
.article-in .arti-text h5 {font-size: 12px; font-weight: 600; padding-top: 10px;}
.article-in .arti-text h5 span {font-weight: normal; color: #828282;}
.viewbtn  { margin: 0 auto; text-align: center; }
.viewbtn a{ width: 180px; height: 50px; line-height: 50px; box-shadow: #ababab5c 1px 2px 7px 0px; border-radius: 50px; 
  background: #011525; color: #fff; display: inline-block; padding-bottom: 10px 20px;
 text-align: center; text-decoration: none;  }


.newsletter { background:#0e98cd; padding:40px 0; }

.newsletter .news-tit {font-size: 30px; color: #fff; font-weight: 600;}
.newsletter .news-tit span {font-size: 16px; color: #fff; display: block; font-weight:500;}

.newsletter .form-control { background:#fff; border-radius: 50px; height: 50px;  border-bottom: 1px solid #fff; }
.newsletter button {background: #011525; border:none; color: #fff; padding: 10px 20px; cursor: pointer;}

.newsletter button:focus {outline: none;}

.head-menu.head-menu-add {
    background-color: #005397;}
    .head-menu.head-menu-add .head-log img{ width: 80px; }
.privacy { padding:150px 0 50px 0; background-color: #fff;}
.privacy h1 {
    font-size: 40px;
    color: #000000;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;}
.privacy-in p {
    color: #989898;
    font-size: 14px;
    line-height: 25px;
    padding-top: 10px;}



.privacy-in h3 {
    font-weight: 600;
    font-size: 18px;
    color: #000;
    padding-top: 30px;
}









.news-article.blog { padding-top: 140px; }
.news-article.blog .col-md-4 { padding-bottom: 20px; }



.blog-detail {font-size: 30px; background: #fff; padding: 140px 0 50px 0; text-align: center; }
.blog-detail h1{font-weight: 600; text-align: center;}



.blog-d-in { padding: 20px 0 80px 0px; background: #fbfbfb; }
.blg-time {font-size: 12px; font-weight: 600; color:#005397;}
.blg-time span{    color: #6b6b6b; font-size: 12px; font-weight: 500;}

.blg-in-cont { padding-top: 50px; }



.blog-d-in img { width: 100%; }
.blog-d-in h4 {    color: #333;
    font-size: 20px;
    font-weight: 600;
    padding-top: 20px;}


.blog-d-in p{    color: #333;
    font-size: 15px;
    padding-top: 10px;}




.contactus {
    padding: 150px 0 150px 0;
}

.contactus h5 {
    font-size: 14px;
    color: #a2a0a0;
}


.contactus h2 {
    font-size: 40px;
    color: #092746;
    padding-top: 5px;
    padding-bottom: 30px;
}


.contactus .contact-in {
    background-color: #092746;
    padding: 30px 20px;
}

.contactus .contact-in h2 {
    font-size: 20px;
    color: #0e98cd;
    text-align: center;}

.contactus .contact-in h2 span {
    font-size: 14px;
    color: #fff;
    display: block;
    padding-top: 10px;
}

.contct-form {
    background: #f1f4f7 !important;
    padding: 100px 0;
}
.contct-form h5 {
    font-size: 14px;
    color: #a2a0a0;
}
.contct-form h2 {
    font-size: 40px;
    color: #092746;
    padding-top: 5px;
    padding-bottom: 30px;
}

.contct-form .form-control {
    height: 50px;
    border-radius: 0;
    background: #fff;
}
.contct-form .form-control:focus {outline: none; box-shadow: none;}
.cont-from-btn button {
    width: 140px;
    height: 40px;
    background: #183e64;
    display: inline-block;
    border: none;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
    text-align: center;
    margin-right: 0;
}

.contct-form textarea.form-control {
    height: 200px;
}




.foot { padding: 50px 0 20px 0; background: #011525; }
.foot p {color: #a5a5a5; font-weight: 400; font-size: 12px; line-height: 22px;}

.foot h3 { color: #0e98cd; font-size: 20px; }


.foot-logo img {width: 70px; margin-bottom: 20px;}
.foot-event ul{ list-style: disc; margin:0 0 0 18px ; padding: 20px 0 0 0; color: #0e98cd }
.foot-event ul li { padding-bottom: 10px; }
.foot-event ul li a{color: #a5a5a5; font-size: 14px; text-decoration: underline;}

.foot .quickliknk ul { list-style: none; margin: 0; padding: 20px 0 0 0; }
.foot .quickliknk ul li { padding-bottom: 6px; width: 48%;    display: inline-block;}
.foot .quickliknk ul li a{font-size: 14px; color: #a5a5a5;}
.foot-cont h3 { padding-bottom: 30px; }
.foot-cont p{font-size: 14px; color: #8ba2b5;}
.foot-cont p span .fa{color: #0e98cd;}

.foot-cont p span {margin-right: 10px;}


.foot .social ul{list-style: none; margin: 0; padding:20px 0 0 0;}
.foot .social ul li {display: inline-block; margin-right: 10px;
 border:1px solid #a5a5a5; width: 30px; height: 30px;
 border-radius: 50%; line-height: 30px; text-align: center; }
.foot .social ul li a{text-align: center;}
.foot .social ul li a .fa{color: #a5a5a5; font-size: 12px; text-align: center;}



.foot .social ul{list-style: none; margin: 0; padding:20px 0 0 0;}
.foot-app ul li {
    background: #010c15;
    display: inline-block;
    width: 220px;
    height: 65px;
    font-size: 12px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    line-height: 32px;
    position: relative;
    cursor: pointer;
    transition: 0.4s ease-in;
    padding-left: 60px;
    padding-top: 10px;
    border:2px solid #010c15;
}
.foot-app ul li a{ color: #fff;  font-size: 16px; line-height: 0px;  position: relative;
 text-decoration: none;}
.foot-app ul li a span{font-size: 12px;color: #a5a5a5; display: block;}

.foot-app ul li:hover { border:2px solid #0e98cd; transition: 0.5s; }
.foot-app ul li a .fa {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -45px;
    margin-top: 0px;
    font-size: 35px;
    color: #83888c;
}

.copy h6{font-size: 12px; color: #a5a5a5; border-top: 1px solid #193d63; padding-top: 40px;}













































